<html class="g-FlexFit">
	
	<style>
		<% if (locals.css) { %>
			<%= css %>
		<% } %>
	</style>
	</head>
	<body class="g-FlexFit">
		<div class="g-height10 g-width100 g-brandon-red">
			TESST
		</div>
	</body>
</html>